@import "tailwindcss";


body{
    background-color: #fafcfb; /* dark gray, softer than black */
}


/* Hide scrollbar for all elements with scrollbar-none */
body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none
}
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
 

.label {
  @apply text-sm font-medium text-gray-700 mb-1 block;
}

.form-input {
  @apply w-full bg-white border border-gray-300 
    rounded-xl px-4 py-3 text-gray-800 
    focus:outline-none focus:ring-2 
    focus:ring-blue-500 focus:border-blue-500
    transition-all shadow-sm;
}

.error {
  @apply text-red-500 text-xs mt-1 ml-1;
}
